In [8]:
import pandas as pd
import numpy as np
import os, tarfile, shutil

In [13]:
#load data
df = pd.read_csv("whats-happening-la-calendar-dataset.csv")

In [15]:
#preview data
df.head()

,Event Name,Event Description,Fee Required,Type of Event,Subject Matter,Age Groupings,Event by Service Area,Event Sponsor,Event Date & Time Start,Event Date & Time Ends,...,Elected Official Office Name,Elected Officials Name,Neighborhood Council,City Reference ID,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
0,West Hills Neighborhood Council Joint Special ...,NaN,No,Neighborhood Council,Government,NaN,NaN,ITA,2025-05-18T19:15:00.000,NaN,...,NaN,NaN,NaN,95811,NaN,NaN,NaN,NaN,NaN,NaN
1,"Mar Vista Community Council (MVCC) Planning, L...",NaN,No,Neighborhood Council,Government,NaN,NaN,ITA,2025-05-18T19:00:00.000,NaN,...,NaN,NaN,NaN,95808,NaN,NaN,NaN,NaN,NaN,NaN
2,Office of Community Beautification ~ West Adam...,Community Clean-Up,NO,Volunteerism,NaN,NaN,NaN,BPW OCB,2017-05-06T08:00:00.000,2017-05-06T13:00:00.000,...,NaN,NaN,NaN,NaN,22724.0,681.0,1282.0,NaN,11.0,8.0
3,Office of Community Beautification ~ West Adam...,Community Clean-Up,NO,Volunteerism,NaN,NaN,NaN,BPW OCB,2017-04-08T08:00:00.000,2017-04-08T13:00:00.000,...,NaN,NaN,NaN,NaN,22724.0,681.0,1282.0,NaN,11.0,8.0
4,Office of Community Beautification ~ West Adam...,Community Clean-Up,NO,Volunteerism,NaN,NaN,NaN,BPW OCB,2017-03-04T08:00:00.000,2017-03-04T13:00:00.000,...,NaN,NaN,NaN,NaN,22724.0,681.0,1282.0,NaN,11.0,8.0

In [18]:
#data summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29519 entries, 0 to 29518
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Event Name                         29469 non-null  object
 1   Event Description                  15383 non-null  object
 2   Fee Required                       28770 non-null  object
 3   Type of Event                      28449 non-null  object
 4   Subject Matter                     14691 non-null  object
 5   Age Groupings                      8917 non-null   object
 6   Event by Service Area              121 non-null    object
 7   Event Sponsor                      13625 non-null  object
 8   Event Date & Time Start            29478 non-null  object
 9   Event Date & Time Ends             2253 non-null   object
 10  Location Common Name               16014 non-null  object
 11  Location Address                   16131 non-null  object
 12  Contact Name                       1140 non-null   object
 13  Contact Number                     1817 non-null   object
 14  Contact Email                      847 non-null    object
 15  Information Website                19553 non-null  object
 16  Elected Official Office Name       1087 non-null   object
 17  Elected Officials Name             1048 non-null   object
 18  Neighborhood Council               49 non-null     object
 19  City Reference ID                  12613 non-null  object
 20  Zip Codes                          15965 non-null  float64
 21  Census Tracts                      15930 non-null  float64
 22  Precinct Boundaries                15924 non-null  float64
 23  LA Specific Plans                  4651 non-null   float64
 24  Council Districts                  15903 non-null  float64
 25  Neighborhood Councils (Certified)  15620 non-null  float64
dtypes: float64(6), object(20)
memory usage: 5.9+ MB

In [16]:
#shape of dataset
print("Shape of dataset:", df.shape)

Shape of dataset: (29519, 26)

In [17]:
# data types
print("Data types of each column:")
print(df.dtypes)

Data types of each column:
Event Name                            object
Event Description                     object
Fee Required                          object
Type of Event                         object
Subject Matter                        object
Age Groupings                         object
Event by Service Area                 object
Event Sponsor                         object
Event Date & Time Start               object
Event Date & Time Ends                object
Location Common Name                  object
Location Address                      object
Contact Name                          object
Contact Number                        object
Contact Email                         object
Information Website                   object
Elected Official Office Name          object
Elected Officials Name                object
Neighborhood Council                  object
City Reference ID                     object
Zip Codes                            float64
Census Tracts                        float64
Precinct Boundaries                  float64
LA Specific Plans                    float64
Council Districts                    float64
Neighborhood Councils (Certified)    float64
dtype: object

In [19]:
#basic descriptive statistics
df.describe()

,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
count,15965.000000,15930.000000,15924.000000,4651.000000,15903.000000,15620.000000
mean,21024.065393,567.956999,808.595830,11.312621,8.514746,46.804481
std,5359.045234,350.402978,353.702335,10.286973,3.859111,29.478497
min,375.000000,1.000000,81.000000,1.000000,1.000000,1.000000
25%,19729.000000,371.000000,516.000000,7.000000,6.000000,21.000000
50%,23079.000000,546.000000,793.000000,9.000000,9.000000,38.000000
75%,23668.000000,730.000000,1105.000000,10.000000,11.000000,76.000000
max,30059.000000,2342.000000,1560.000000,54.000000,15.000000,95.000000

In [20]:
# check for missing values
df.isnull().values.any()

True

In [21]:
# total missing values per column
df.isnull().sum()

Event Name                              50
Event Description                    14136
Fee Required                           749
Type of Event                         1070
Subject Matter                       14828
Age Groupings                        20602
Event by Service Area                29398
Event Sponsor                        15894
Event Date & Time Start                 41
Event Date & Time Ends               27266
Location Common Name                 13505
Location Address                     13388
Contact Name                         28379
Contact Number                       27702
Contact Email                        28672
Information Website                   9966
Elected Official Office Name         28432
Elected Officials Name               28471
Neighborhood Council                 29470
City Reference ID                    16906
Zip Codes                            13554
Census Tracts                        13589
Precinct Boundaries                  13595
LA Specific Plans                    24868
Council Districts                    13616
Neighborhood Councils (Certified)    13899
dtype: int64

In [23]:
#fix event date & time start and event date & time end columns to datetime datatype
df["Event Date & Time Start"] = pd.to_datetime(df["Event Date & Time Start"], errors="coerce")
df["Event Date & Time Ends"] = pd.to_datetime(df["Event Date & Time Ends"], errors="coerce")

In [25]:
# convert columns from object to categorical
df["Type of Event"] = df["Type of Event"].astype("category")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29519 entries, 0 to 29518
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Event Name                         29469 non-null  object
 1   Event Description                  15383 non-null  object
 2   Fee Required                       28770 non-null  object
 3   Type of Event                      28449 non-null  category
 4   Subject Matter                     14691 non-null  object
 5   Age Groupings                      8917 non-null   object
 6   Event by Service Area              121 non-null    object
 7   Event Sponsor                      13625 non-null  object
 8   Event Date & Time Start            29476 non-null  datetime64[ns]
 9   Event Date & Time Ends             2249 non-null   datetime64[ns]
 10  Location Common Name               16014 non-null  object
 11  Location Address                   16131 non-null  object
 12  Contact Name                       1140 non-null   object
 13  Contact Number                     1817 non-null   object
 14  Contact Email                      847 non-null    object
 15  Information Website                19553 non-null  object
 16  Elected Official Office Name       1087 non-null   object
 17  Elected Officials Name             1048 non-null   object
 18  Neighborhood Council               49 non-null     object
 19  City Reference ID                  12613 non-null  object
 20  Zip Codes                          15965 non-null  float64
 21  Census Tracts                      15930 non-null  float64
 22  Precinct Boundaries                15924 non-null  float64
 23  LA Specific Plans                  4651 non-null   float64
 24  Council Districts                  15903 non-null  float64
 25  Neighborhood Councils (Certified)  15620 non-null  float64
dtypes: category(1), datetime64[ns](2), float64(6), object(17)
memory usage: 5.7+ MB

In [27]:
#drop irrevelavent columns
df.drop(columns="Fee Required", inplace=True)
df.drop(columns="Elected Official Office Name", inplace=True)
df.drop(columns="Elected Officials Name", inplace=True)
df.drop(columns="Neighborhood Council", inplace=True)
df.drop(columns="City Reference ID", inplace=True)
df.drop(columns="Zip Codes", inplace=True)
df.drop(columns="Census Tracts", inplace=True)
df.drop(columns="Precinct Boundaries", inplace=True)
df.drop(columns="LA Specific Plans", inplace=True)
df.drop(columns="Council Districts", inplace=True)
df.drop(columns="Neighborhood Councils (Certified)", inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29519 entries, 0 to 29518
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Event Name               29469 non-null  object
 1   Event Description        15383 non-null  object
 2   Type of Event            28449 non-null  category
 3   Subject Matter           14691 non-null  object
 4   Age Groupings            8917 non-null   object
 5   Event by Service Area    121 non-null    object
 6   Event Sponsor            13625 non-null  object
 7   Event Date & Time Start  29476 non-null  datetime64[ns]
 8   Event Date & Time Ends   2249 non-null   datetime64[ns]
 9   Location Common Name     16014 non-null  object
 10  Location Address         16131 non-null  object
 11  Contact Name             1140 non-null   object
 12  Contact Number           1817 non-null   object
 13  Contact Email            847 non-null    object
 14  Information Website      19553 non-null  object
dtypes: category(1), datetime64[ns](2), object(12)
memory usage: 3.2+ MB